@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    background-image: url('https://i.imgur.com/TSdkqni.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text {
    position: absolute;
    width: 50%; /* Ancho del texto */
    margin: auto; /* Centrar el texto horizontalmente */
    font-family: 'Bebas Neue', sans-serif; /* Tipo de letra */
}

.welcome-text {
    font-size: 24rem; /* Tamaño del texto */
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.about, .services {
    padding: 20px;
}

.about h2, .services h2 {
    color: #333;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services li {
    margin-bottom: 10px;
}
